<!DOCTYPE html>
<html lang="en">


<style>
textarea { resize:none; }
</style>
<head>
  {% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Qustions@clash</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/logo-nav.css" %}" rel="stylesheet">
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% static "img/clashflat.png" %}" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a style = "font-size:20px;" href="/leaderboard/">LeaderBoard</a>
                    </li>
                    <li>
                        <a style = "font-size:20px;" href="/my_questions/">My Questions</a>
                    </li>
                    <li>
                        <a style = "font-size:20px;" href="#">Contact</a>
                    </li>
                    <li style = "margin-left:280px;">
                        <a style = "font-size:20px;" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <form class="form-horizontal" action="/save/" method = "post">
      {% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend style="text-align:center;padding-top:15px;">Add Your Question</legend>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="ques">Question :</label>
  <div class="controls">                     
    <textarea required style="width:1000px;height:300px;" id="ques" name="ques" >{{question.title}}</textarea>
  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="op1">Option 1:</label>
  <div class="controls">                     
    <textarea required style="width:700px;height:100px;" id="op1" name="op1" >{{question.op1}}</textarea>
  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="op2">Option 2:</label>
  <div class="controls">                     
    <textarea required style="width:700px;height:100px;" id="op2" name="op2" >{{question.op2}}</textarea>
  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="op3">Option 3:</label>
  <div class="controls">                     
    <textarea required style="width:700px;height:100px;" id="op3" name="op3" >{{question.op3}}</textarea>
  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="op4">Option 4:</label>
  <div class="controls">                     
    <textarea required style="width:700px;height:100px;" id="op4" name="op4" >{{question.op4}}</textarea>
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label" for="radios">Select Ans:</label>
  <div class="controls">
    <label class="radio inline" for="radios-0">
      <input name="radios" id="radios-0" value="A" checked="checked" type="radio">
      A
    </label>
    <label class="radio inline" for="radios-1">
      <input name="radios" id="radios-1" value="B" type="radio">
      B
    </label>
    <label class="radio inline" for="radios-2">
      <input name="radios" id="radios-2" value="C" type="radio">
      C
    </label>
    <label class="radio inline" for="radios-3">
      <input name="radios" id="radios-3" value="D" type="radio">
      D
    </label>
  </div>
</div>

  <input type="hidden" name="id" value={{question.id}}>
<!-- Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary">Save</button>
    <a href="/delete/?x={{question.id}}">
      <div class="btn btn-danger">Delete Question</div>
    </a>
  </div>
</div>

</fieldset>
</form>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="{%static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>

</html>
